[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
openai = "*"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-csp = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
